* {
    box-sizing: border-box;
}

.container{
    max-width: 900px;
    margin: 0 auto;
    padding: 1.1rem;
    text-align: center;
}

.gallery {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
   grid-gap: 20px;
}

input#imageSearch {
    min-width: 60%;
    padding: 15px 10px;
    font-size: 12px;
    font-weight: 600;
    opacity: 0.8;
    border: solid 2px #c5c5c5;
    border-radius: 5px;
}

.hidden {
    display: none;
}

